.additional-info-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-app, .credits {
  padding: 2em;
  margin: 1.5em;
  background-color: #c6f6cb;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.icon-credit {
  margin: 0.5em;
}
