.button {
  width: 42%;
  color: #292F36;
  margin: 0.5em;
  padding: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.category {
  background-color: #4ECDC4;
}

.category-item {
  background-color: #fb9999;
}

.button:hover {
  cursor: pointer;
}

.btn-image {
  width: 50%;
}

.keyword {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.5em 0 0.8em 0;
}

.back-btn {
  position: absolute;
  left: -1.5em;
  top: 3.9em;
}

.back-btn > img {
  width: 33%;
}

.back-btn > img:hover {
  cursor: pointer;
}


@media (min-width: 760px) {
  .button {
    width: 26%;
    margin: 1em;
  }

}
