.custom-boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.custom-board-link {
  text-decoration: none;
  width: 70%;
  font-size: 1.5em;
  font-weight: bold;
  color: #292F36;
}

.custom-board {
  background-color: #fb9999;
  margin: 0.5em 0;
  padding: 1em 2em;
  border-radius: 20px;
  text-align: center;
}

.custom-board:hover {
  background-color: #4ECDC4;
}

@media (min-width: 760px) {
  .custom-board-link {
    width: 35%;
  }

}
