.header {
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  background-color: #FFE66D;
  width: 100%;
  text-align: left;
}

.home-link {
  text-decoration: none;
  color: #1A535C;
  margin: 0;
  padding: 0;
}

.header > h1 {
  margin: 0 0 0 1em;
}
