.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*padding-top: 30em;*/
}

.home-links {
  text-decoration: none;
  color: #FFE66D;
  font-size: 1.5em;
  font-weight: bold;
  width: 70%;
}

.top-link {
  margin-top: 0.5em;
}

.home-options {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  padding: 1em 0;
  border-radius: 20px;
  background-color: #1A535C;

}

.home-options:hover {
  background-color: #FFE66D;
  color: #1A535C;
}


@media (min-width: 760px) {
  .home-options {
    width: 50%;
    margin: 0.5em 25%;
  }

}
