.home {
  /*text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;*/
}

.home-menu-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

.home-links {
  text-decoration: none;
  color: #FFE66D;
  font-size: 1.5em;
  font-weight: bold;
  width: 70%;
}

.home-links:hover {
  cursor: default;
}

.home-options {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  padding: 1em 0;
  border-radius: 20px;
  background-color: #1A535C;

}

.home-options:hover {
  background-color: #FFE66D;
  color: #1A535C;
  cursor: pointer
}

.additional-info {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.additional-info-link {
  margin: 0 2em;
  background-color: #FFE66D;
  color: #1A535C;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
}

.additional-info-link > p {
  margin: 0;
}

.additional-info-link:hover {
  color: #FFE66D;
  background-color: #1A535C;
}


@media (min-width: 760px) {
  .home-menu-container {
    margin-top: 3em;
  }

  .home-options {
    width: 50%;
    margin: 0.6em 25%;
  }

}
